<h3>
  <i>&quot;<%= @quote['quote'] %>&quot;</i>
</h3>
<br>
<%= @quote['attribution'] %>
<p>
  Submitted by <%= @quote['submitter'] %>
</p>
<p>
  URI: <%= @request.params %>
</p>
<p>
  Schema: <%= @schema %>
</p>
